body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 110vh;
    overflow-x: hidden;
}

.vertical-nav {
    width: 17rem;
    min-width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.4s;
}

.page-content {
    height: 100vh;
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }

    #sidebar.active {
        margin-left: 0;
    }
}
